::selection {
  background: #bcd001;
  color: black;
}

* {
  box-sizing: border-box;
}

.logo-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logo-item {
  flex: 1;
  margin: 0 10px;
}

.container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 3rem;
  border-radius: 30px;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.logo-img {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  max-width: 3.4rem;
}

.logo-img:hover {
  transform: scale(1.2);
}

.head-surname {
  color: #bcd001;
}

footer {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 0.7rem;
}

.project{
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  padding: 3rem;
  font-weight: 700;
  letter-spacing: 3rem;
}

.projects-link{
  color: #bcd001;
  text-decoration: none;
  font-size: 2rem;
  padding: 3rem;
  font-weight: 700;
  letter-spacing: 3rem;
}

.projects-link:hover{
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bcd001;
}
.app{
  display: grid;
  place-items: center;
  height: 100vh;
}

ul{
  list-style-type: none;
  font-size: 1rem;
}

a{
  font-weight: bold;
}

a:hover{
  transition: transform 0.2s ease-in-out;
}
